<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Index of /.\data\3\eva\Sudoku_Avalonia\Sudoku_Avalonia\Sudoku.Avalonia\Views</title>
<style>
body { font-family: monospace; }
table { border-collapse: collapse; }
td { padding: 4px 12px; }
</style>
</head>
<body>
<h1>Index of /.\data\3\eva\Sudoku_Avalonia\Sudoku_Avalonia\Sudoku.Avalonia\Views</h1>
<table>
<tr><th>Name</th><th>Last modified</th><th>Size</th></tr>
<tr><td><a href="../">../</a></td><td></td><td>-</td></tr>
<tr><td><a href='DesignData.cs'>DesignData.cs</a></td><td>2025-12-12 16:03</td><td>669</td></tr>
<tr><td><a href='MainView.axaml'>MainView.axaml</a></td><td>2025-12-12 16:03</td><td>3771</td></tr>
<tr><td><a href='MainView.axaml.cs'>MainView.axaml.cs</a></td><td>2025-12-12 16:03</td><td>181</td></tr>
<tr><td><a href='MainWindow.axaml'>MainWindow.axaml</a></td><td>2025-12-12 16:03</td><td>669</td></tr>
<tr><td><a href='MainWindow.axaml.cs'>MainWindow.axaml.cs</a></td><td>2025-12-12 16:03</td><td>180</td></tr>
</table>
</body>
</html>
