html
{
    background-image: url("../media/hatter.webp");
    background-attachment : fixed;
    background-size       : cover;
}

body {
    font-family     : 'Times New Roman', Times, serif;
    margin          : 25px auto;
    padding         : 10px 20px;
    background-color: #ffffff;
    color           : #000000;
    line-height     : 1.6;
    border-radius   : 20px;
    border          : 4px solid #000000;
    max-width       : 1000px;
    box-shadow      : 5px 5px 10px #000000;
}

body.dark_mode {
    font-family     : 'Times New Roman', Times, serif;
    margin          : 25px auto;
    padding         : 10px 20px;
    background-color: #000000;
    color           : #000000;
    line-height     : 1.6;
    border-radius   : 20px;
    border          : 4px solid #000000;
    max-width       : 1000px;
    box-shadow      : 5px 5px 10px #000000;
}

div.navbar {
    display: flex;
    background-color: #f8f8f8; 
    padding: 10px 20px;
    border-bottom: 2px solid #ccc;
    justify-content: center;
    gap: 50px; 
}

div.navbar a {
    text-decoration: none; 
    color: #333; 
    font-size: 1em; 
    padding: 10px 15px; 
    border-radius: 5px; 
    transition: background 0.3s ease; 
}

div.navbar a:hover {
    background-color: #ddd; 
    color: black;
}

div.navbar a.active {
    background-color: #724b39; 
    color: white;
    font-weight: bold;
}

div.dark-mode-toggle {
    margin-left: auto;
    padding: 5px 15px;
    cursor: pointer;
}

div.dark-mode-toggle input {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#current
{
    background-color: #ddd;
    color: black;
    font-weight: bold;
    border-radius: 5px;
}

h1
{
    background-color: lightblue;
    text-align: center;
    padding : 10px;
    border: 3px solid #000000;
    border-radius: 10px;
}
 
h3
{
    margin-bottom: 20px;
}

p
{
    margin-bottom: 10px;
}

img.right
{
    float: right;
    margin-left: 20px;
    border-radius: 5%;
}

img.poz
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: 3px solid #000000;
    width: 400px;
}

div.mi_kezi
{
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    padding: 20px;
    margin-right: 50px;
    border-radius: 15px;
    border: 3px solid #000000;
    align-items: center;
    gap: 15px;
}

div.edited
{
    background-color: lightblue;
    padding: 20px;
    border-radius: 15px;
    border: 3px solid #000000;
    margin-top: 20px;
    gap: 15px;
}

details
{
    background-color: lightblue;
    padding: 20px;
    border-radius: 15px;
    border: 3px solid #000000;
    margin-top: 20px;
    gap: 15px;
}

p.kisbetusresz
{
    font-family: sans-serif;
    text-align: center;
    font-style: italic;
}

p.kisbetusresz.dark_mode
{
    font-family: sans-serif;
    color: #ffffff;
    text-align: center;
    font-style: italic;
}

a.link
{
    text-decoration: underline;
}

tr:nth-child(even) {background-color: #f2f2f2;}

thead
{
    background-color: lightblue;
}

tr, td
{
    border: 1px solid;
    padding: 8px;
    text-align: center;
}

div.right_table
{
    float: right;
}
div.left_table
{
    float: left;
}

video
{
    width: auto;
    height: 200px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

img.hte
{
    float: right;
    margin-left: 20px;
    margin-right: 40px;
    border-radius: 5%;
    margin-top: 5px;
}

img.erme
{
    width: 400px;
    float: right;
    margin-left: 20px;
    border-radius: 5%;
    margin-top: 20px;
}

img.stat
{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 3px solid #000000
}

img.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.right
{
    float: right;
}



div.center
{
    text-align: center;
}

#torol
{
    float: right;
}

p.credit
{
    text-align: center;
    background-color: lightblue;
    margin-top: 30px;
    font-size: 1em;
    margin-bottom: -10px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px;
}

div.edited_2
{
    background-color: lightblue;
    padding: 20px;
    border-radius: 15px;
    border: 3px solid #000000;
    margin-top: 20px;
    gap: 15px;
    display: inline-block;
}

div.darkish.dark_mode
{
    color: #ffffff;
}

summary
{
    font-size: 1.5em;
}

a:visited
{
    color: purple;
    filter: contrast(70%);
}

#bekuldes
{
    margin-top: 10px;
}