<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Index of /.\data\3\eva\bead_3\Asteroids_Ava\Asteroids_Ava\Views</title>
<style>
body { font-family: monospace; }
table { border-collapse: collapse; }
td { padding: 4px 12px; }
</style>
</head>
<body>
<h1>Index of /.\data\3\eva\bead_3\Asteroids_Ava\Asteroids_Ava\Views</h1>
<table>
<tr><th>Name</th><th>Last modified</th><th>Size</th></tr>
<tr><td><a href="../">../</a></td><td></td><td>-</td></tr>
<tr><td><a href='MainView.axaml'>MainView.axaml</a></td><td>2025-12-15 00:19</td><td>627</td></tr>
<tr><td><a href='MainView.axaml.cs'>MainView.axaml.cs</a></td><td>2025-12-14 18:17</td><td>185</td></tr>
<tr><td><a href='MainWindow.axaml'>MainWindow.axaml</a></td><td>2025-12-14 19:23</td><td>2687</td></tr>
<tr><td><a href='MainWindow.axaml.cs'>MainWindow.axaml.cs</a></td><td>2025-12-15 12:08</td><td>6168</td></tr>
</table>
</body>
</html>
