<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Index of /.\data\3\eva\elte_eva_gy13_megoldas\ImageDownloader_Reactive\ImageDownloader.Avalonia\Views</title>
<style>
body { font-family: monospace; }
table { border-collapse: collapse; }
td { padding: 4px 12px; }
</style>
</head>
<body>
<h1>Index of /.\data\3\eva\elte_eva_gy13_megoldas\ImageDownloader_Reactive\ImageDownloader.Avalonia\Views</h1>
<table>
<tr><th>Name</th><th>Last modified</th><th>Size</th></tr>
<tr><td><a href="../">../</a></td><td></td><td>-</td></tr>
<tr><td><a href='ImageView.axaml'>ImageView.axaml</a></td><td>2025-12-12 16:02</td><td>1755</td></tr>
<tr><td><a href='ImageView.axaml.cs'>ImageView.axaml.cs</a></td><td>2025-12-12 16:02</td><td>198</td></tr>
<tr><td><a href='ImageWindow.axaml'>ImageWindow.axaml</a></td><td>2025-12-12 16:02</td><td>671</td></tr>
<tr><td><a href='ImageWindow.axaml.cs'>ImageWindow.axaml.cs</a></td><td>2025-12-12 16:02</td><td>197</td></tr>
<tr><td><a href='MainView.axaml'>MainView.axaml</a></td><td>2025-12-12 16:02</td><td>3522</td></tr>
<tr><td><a href='MainView.axaml.cs'>MainView.axaml.cs</a></td><td>2025-12-12 16:02</td><td>196</td></tr>
<tr><td><a href='MainWindow.axaml'>MainWindow.axaml</a></td><td>2025-12-12 16:02</td><td>646</td></tr>
<tr><td><a href='MainWindow.axaml.cs'>MainWindow.axaml.cs</a></td><td>2025-12-12 16:02</td><td>195</td></tr>
</table>
</body>
</html>
